<div class="container text-center" id="main">
    <div class="row">
        <article class="col">
            <h5>Clara Anderson's review:</h5>
            <p>I had no idea what was wrong with my PC, John Smith arrived and in minutes he already figured out exactly what was wrong it only took him 10 minutes to repair my PC and have it working as good as new. He also added some minor improvements. I've never had a more professional experience with someone offering this services.</p>
        </article>
        <article class="col">
            <h5>Tom Brooks's review:</h5>
            <p>I cannot sing enough praises for the outstanding service provided by John Smith. My laptop had been acting up for weeks, freezing at random intervals and refusing to start up properly. In a panic, I contacted John Smith, and within hours, he arrived at my doorstep armed with knowledge and tools. Not only did he quickly diagnose the issue, but he also patiently explained the problem and the steps needed to fix it. </p>
        </article>
        <article class="col">
            <h5>Andy Muschin's review:</h5>
            <p>I couldn't be more thrilled with the exceptional service provided by John Smith.When my laptop decided to call it quits right before a crucial deadline, John swooped in like a tech superhero.Not only did he revive my laptop in record time, but he also took the time to educate me on proper maintenance practices to prevent future mishaps.If you're ever in need of reliable PC repair services, look no further than John Smith, he's a true gem who goes above and beyond for his clients!</p>
        </article>
    </div>
</div>