<article class="container text-center">
    <div class="row">
        <img class="col" src="https://blog.fhyzics.net/hubfs/Computer-Repair.jpg#keepProtocol"/>
        <div class="col">
            <h5>Issues with overheating? No problem!</h5>
            <p>This PC suffered from sporadic shutdowns and erratic behavior. Upon thorough examination, it became apparent that the root cause lay in a faulty power supply unit (PSU) and overheating components. I replaced the failing PSU with a high-quality unit, ensuring stable and reliable power delivery to the system. Additionally, I meticulously cleaned accumulated dust from the CPU heatsink and case fans, restoring proper airflow and mitigating overheating issues. With precision and care, the hardware woes were swiftly addressed, culminating in a rejuvenated PC.</p>
        </div>
    </div>
</article>